{% extends 'index.html' %}
{% block head %}
    <link rel="stylesheet" href= "/static/css/products.css">
    <title>Продукты</title>
{% endblock %}
{% block content %}
<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Цена</th>
    <th>Фото</th>
    <th></th>
  </tr>
  <tr>
    <td>"Пеперони"</td>
    <td>Супер вкусная пицца</td>
    <td>750 руб</td>
    <td><img src="static/images/pep.jpeg"  width="120" height="90" /></td>
    <td><button>В корзину</button></td>
  </tr>
  <tr>
    <td>"Маргарита"</td>
    <td>Супер вкусная пицца "Маргарита"</td>
    <td>600 руб</td>
    <td><img src="static/images/mar.jpeg"  width="120" height="90" /></td>
    <td><button>В корзину</button></td>
  </tr>
</table>
{% endblock %}
