{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/cart.css">
<link rel="stylesheet" type="text/css" href="/static/css/products.css">
{% endblock %}
{% block content %}
{% if data %}
<div>
    <table class="styled-table">
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Итоговая цена</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{row.name}}</td>
            <td>{{row.description}}</td>
            <td>{{row.price}} руб</td>
            <td>{{row.amount}} шт.</td>
            <td>{{row.total}} руб</td>
        </tr>
        {% endfor %}
    </table>
    <div class="sum">
        Итоговая сумма: {{total_sum}} руб.
    </div>
    {% else %}
    <div class='bg-image'>
    {% endif %}
    </div>
{% endblock %}
