{% extends 'index.html' %}
{% block head %}
    <link rel="stylesheet" href= "/static/css/products.css">1
    <title>Продукты</title>
{% endblock %}

{% block content %}
<table>
  {% for row in data %}
  <form action="/products"  method='POST'>
  <tr>
    <input type="hidden" value="{{row.id}}" name='item_id'>
    <td>{{row.name}}</td>
    <td>{{row.description}}</td>
    <td>{{row.price}} руб</td>
    <td><img src="static/images/{{row.image}}"  width="120" height="90" /></td>
    <td><button type="submit">В корзину</button></td>
  </tr>
  </form>
  {% endfor %}
{% endblock %}
