<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type= "text/css" href= "/static/css/style.css">
  <!-- Блок, который расширяет head -->
{% block head %}{% endblock %}
</head>
<body>

<ul>
  <li><a class="active" href="/">Главная страница</a></li>
  <li><a href="/products">Продукция</a></li>
  <li><a href="/contacts">Контакты</a></li>
  <li><a href="/about">О компании</a></li>
  <li><a href="/cart">Корзина</a></li>
</ul>
  <!-- Блок, который создает уникальный контент для каждой страницы -->
{% block content %}{% endblock %}
</body>
</html>
