body {
    margin: 0;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
header {
    height: 60px; /* Высота шапки */
    background-color: #34495e; /* Цвет фона  */
    display: flex; /* Включаем гибкость блока */
}
ul {
    list-style: none; /* Убираем маркеры в списке */
    display: flex; /* Включаем гибкость блока */
    justify-content: start; /* Выравниваем по левому краю ссылки */
}
  
li a {
    color: white; /* Цвет текста */
    padding: 22px; /* Создаем поля вокруг ссылок по 22 пикселя */
    font-size: 20px; /* Размер шрифта */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}
  

.card {
    display: inline-block;
    width: 40%;
    margin: 3%;
    text-decoration: none; 
}

.card a {
    text-decoration: none;
}

.main {
    text-align: center;

}

.prom {
    color: #fff53c;
    font-size: 26px;
    font-weight: bold;
}
