{% extends 'index.html' %}
{% block head %}
    <link rel="stylesheet" href= "/static/css/products.css">
    <title>Продукты</title>
{% endblock %}
{% block content %}
<table>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Цена</th>
    <th>Фото</th>
    <th></th>
  </tr>
  <tr>
    <td>{{product[0].name}}</td>
    <td>{{product[0].description}}</td>
    <td>{{product[0].price}}</td>
    <td><img src="{{product[0].img}}"  width="120" height="90" /></td>
    <td><button type="button">В корзину</button></td>
  </tr>
  <tr>
    <td>{{product[1].name}}</td>
    <td>{{product[1].description}}</td>
    <td>{{product[1].price}}</td>
    <td><img src="{{product[1].img}}"  width="120" height="90" /></td>
    <td><button type="button">В корзину</button></td>
  </tr>
</table>
{% endblock %}
