{% extends 'index.html' %}
{% block head %}
    <title>Первый товар</title>
    <link rel="stylesheet" href= "/static/css/prod.css">
{% endblock %}

{% block content %}
 <div>
     <div class = 'text'>
         <img src = "/static/images/promotion.png" width="300" height="300">
         <h1>Первый товар! {{ action_name }}</h1>

            {% if number==10 %}
                <img src="/static/images/python_kodland.jpg">
            {% endif %}
            
         <p> Один из лучших товаров, который вы можете приобрести у нас. Сейчас со скидкой 10%!</p>
         <p> Условия акции действуют до {{ end_date }}</p>
         <p> Торопитесь, осталось всего {{ days_before_end }} дней до конца!</p>
     </div>
 </div>
{% endblock %}
